OPENAI_API_KEY=<ADD YOUR OPENAI API KEY HERE>

ORCHESTRATOR_LIMIT_DOCS=none
ORCHESTRATOR_BATCH_SIZE=10000
ORCHESTRATOR_MODEL=gpt-5-nano-2025-08-07
ORCHESTRATOR_REASONING=high
ORCHESTRATOR_RUN_OPENAI=true
ORCHESTRATOR_SUBMISSION_MODE=batch
ORCHESTRATOR_RUN_EVALS=true

# Paths of Orchestration
ORCHESTRATOR_MAPPINGS_DIR=checklists/mappings
ORCHESTRATOR_PROMPTS_DIR=checklists/prompts
ORCHESTRATOR_DATASETS_DIR=data/artifacts/datasets
ORCHESTRATOR_BATCHES_DIR=data/artifacts/batches
ORCHESTRATOR_BATCH_OUTPUTS_DIR= data/artifacts/batch_outputs

# Prompt to pick
PROMPT_KEY_DRIVER=classify_direct_driver
PROMPT_KEY_SCREENING=screen
PROMPT_KEY_GEOGRAPHY=classify_region
PROMPT_KEY_TAXA=classify_taxa
PROMPT_KEY_STUDY=classify_study
PROMPT_KEY_ECOSYSTEMS=classify_ecosystem_typology
PROMPT_KEY_ECOSYSTEMS_CORE=classify_ecosystem_typology_core
PROMPT_KEY_ECOSYSTEMS_REALM=classify_ecosystem_typology_realm
PROMPT_KEY_ECOSYSTEMS_BIOME=classify_ecosystem_typology_biome
PROMPT_KEY_ECOSYSTEMS_EFG=classify_ecosystem_typology_efg
PROMPT_KEY_THREATS=classify_threats
PROMPT_KEY_THREATS_CORE=classify_threats_core
PROMPT_KEY_THREATS_L0=classify_threats
PROMPT_KEY_THREATS_L1=classify_threats_l1
PROMPT_KEY_THREATS_L2=classify_threats_l2


# Evals paths
EVALS_LABELS_DIR=data/labels
EVALS_OUTPUT_DIR=data/labels/eval
EVALS_GBIF_CACHE_PATH=checklists/mappings/gbif_lookup_cache.pkl

# data_helpers
LABELS_L0_PATH=data/labels/l0
LABELS_L1_PATH=data/labels/l1
LABELS_L2_PATH=data/labels/l2
LABELS_L3_PATH=data/labels/l3
LABELS_L4_PATH=data/labels/l4
LABELS_L5_PATH=data/labels/l5
LABELS_L6_PATH=data/labels/l6
DATASETS_LABELS_SEED=42

#. test/train/dev split
train=60
dev=20
test=20

