venv/
myenv/
.venv
env/
local_files/
dataset/
__pycache__/
.DS_Store
dataset.zip
gbif_taxonomy
gbif_taxonomy_archive/
data
test.ipynb
*.jsonl
.env
results/
setup_archive.ipynb
notes/
osf-data/
utils/data-copy.py
sample_records.ipynb
